.main {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  padding: 0;
}

.main__header {
  font-weight: 400;
  font-size: clamp(30px, 4vw, 40px);
  line-height: clamp(34px, 5vw, 46px);
  color: #1a1822;
  margin-top: clamp(32px, 6vw, 80px);
  padding-left: clamp(16px, 7vw, 104px);
}

.main__header_hidden {
  display: none;
}

.main__card-wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  gap: clamp(8px, 2vw, 16px);
  padding: 0 clamp(16px, 7vw, 104px);
  margin: clamp(32px, 8vw, 64px) auto;
}

.main__card-wrap_hidden {
  display: none;
}

.main__button {
  max-width: 288px;
  width: 100%;
  height: clamp(56px, 6vw, 64px);
  border-radius: 80px;
  background-color: #fff;
  margin: 0 auto clamp(24px, 6vw, 80px);
  color: #1a1822;
  font-family: "Roboto";
  font-weight: 500;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 24px;
}

.main__button:hover {
  background-color: #e9e8e8;
}

.main__button_inactive {
  background-color: #e6e8eb;
  color: #b6bcbf;
}
