.main {
  display: flex;
  flex-direction: column;
  /* height: 975px; */
  background-color: #f5f6f7;
  padding: 40px 40px 0px;
}

.main__header {
  width: 712px;
  height: 46px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1822;
  margin: 0px;
}

.main__card-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* gap: 16px; */
  margin: 32px 0px 64px;
}

.main__button {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: #fff;
  margin: 0 auto 40px;
  color: #1a1822;
}