.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 200px;
  height: 24px;
  margin-left: 104px;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__links {
  margin-right: 116px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.nav__link {
  position: relative;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  margin-right: 42px;
}

.nav__link:hover {
  color: inherit;
  padding-bottom: 26px;
  cursor: pointer;
}

.nav__link.active::before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -23px;
  height: 3px;
  border-radius: 2px;
  width: 120%;
}

.nav__link.home-active::before {
  background-color: #fff;
}

.nav__link.saved-news-active::before {
  background-color: #1A1B22; 
}

.nav__link-pill-btn {
  width: 170px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
}
