.card {
  position: relative;
  width: 400px;
  height: 576px;
  background-color: #fff;
}

.card__image {
  width: 400px;
  height: 272px;
}

.card__content {
  padding: 20px;
}

.card__tag {
  position: absolute;
}

.card__save-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/save-btn-normal.svg);
  outline: none;
}

.card__save-btn:hover {
  background-image: url(../../assets/save-btn-hover.svg);
}

.card__save-btn_marked {
  background-image: url(../../assets/save-btn-marked.svg);
}

.card__save-btn:focus {
  outline: none;
}

.card__pub-date {
  width: 128px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-bottom: 12px;
}

.card__header {
  width: 352px;
  height: 60px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1822;
  margin-bottom: 16px;
}

.card__paragraph {
  width: 352px;
  height: 88px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1822;
  margin-bottom: 40px;
}

.card__author {
  width: 352px;
  height: 20px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
}
